html, body, #root {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns {
  flex: 1;
  display: flex;
  background: #f4f4f4;
}

.sidebar {
  width: 100px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 100px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}