* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: #333;
  color: white;
  transition: all 0.3s ease;
  padding-top: 60px;
}

.sidebar.open {
  right: 0;
}

.toggle-btn {
  position: fixed;
  right: 0px;
  top: 20px;
  transform: translateY(-50%);
  border: none;
  background: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

nav {
  display: flex;
  flex-direction: column;
}

nav p {
  padding: 15px 20px;
  cursor: pointer;
}

nav p:hover {
  background: #555;
}


/* Why transform?

Interview answer:

Using transform: translateX() is smoother and performs better because browsers optimize transform animations using the GPU. It's generally preferred over animating left or right.

If you're practicing React machine coding rounds, I'd recommend using the transform: translateX() */